<!DOCTYPE html>
<html>
<head>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")

</head>

<body>
    @*<div id="dialog-modal" title="Artist Details">
        <table class="table">
            <tr>
                <th>Name</th>
                <td>@Model[@ViewBag.artistIndex].name</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>@Model[@ViewBag.artistIndex].country</td>
            </tr>
            <tr>
                <th>Labels</th>
                <td>@Model[@ViewBag.artistIndex].labels</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>@Model[@ViewBag.artistIndex].website</td>
            </tr>
            <tr>
                <th>RAProfile</th>
                <td>@Model[@ViewBag.artistIndex].raProfile</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>@Model[@ViewBag.artistIndex].twitter</td>
            </tr>
            <tr>
                <th class="columnWidth1">Facebook</th>
                <td>@Model[@ViewBag.artistIndex].facebook</td>
            </tr>
            <tr>
                <th class="columnWidth1">Discogs</th>
                <td>@Model[@ViewBag.artistIndex].discogs</td>
            </tr>
            <tr>
                <th>ProfileImageURL</th>
                <td>@Model[@ViewBag.artistIndex].profileImageURL</td>
            </tr>
            <tr>
                <th>BioSmall</th>
                <td>@Model[@ViewBag.artistIndex].bioSmall</td>
            </tr>
        </table>
    </div>*@
</body>
</html>